services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: gekko-sql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong!Passw0rd
    ports:
      - "1433:1433"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: gekko-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
